@import url(fonts.css);

/* ******** General Functions ************ */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'neo-reg';
    outline: 0;
}

a:hover,
a:visited,
a:link {
    text-decoration: none;
    color: #fff;
    outline: 0;
}

HTML5 display-role reset for older browsers article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    position: relative;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

p {
    line-height: 24px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.col-xs-12 {
    padding: 0;
}

input[type='text']:focus,
input[type='password']:focus {
    color: #969696;
}

*,
*:after,
*::before {
    box-sizing: border-box;
}

html,
body,
.st-container,
.st-pusher,
.st-content {
    height: 100%;
}

.btn-group,
.btn-group-vertical {
    margin-bottom: 5px;
}

.btn-group .btn,
.btn-group-vertical .btn {
    border-radius: 0;
}

.dropdown-menu {
    left: auto;
}


/*==============================================
    Loading Screen
/*==============================================*/

.wrap {
    top: 0;
    left: 0;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.loading {
    left: 42%;
    top: 45%;
    margin: auto;
    position: absolute;
}

@media (min-width: 320px) and (max-width: 600px) {
    .loading {
        right: 20%;
        left: 20%;
    }
}

.text {
    color: #2ecc71;
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
}

.bounceball {
    position: relative;
    display: inline-block;
    height: 37px;
    width: 15px;
}

.bounceball:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #2ecc71;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: bounce 500ms alternate infinite ease;
    animation: bounce 500ms alternate infinite ease;
}

@-webkit-keyframes bounce {
    0% {
        top: 30px;
        height: 5px;
        border-radius: 60px 60px 20px 20px;
        -webkit-transform: scaleX(2);
        transform: scaleX(2);
    }
    35% {
        height: 15px;
        border-radius: 50%;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    100% {
        top: 0;
    }
}

@keyframes bounce {
    0% {
        top: 30px;
        height: 5px;
        border-radius: 60px 60px 20px 20px;
        -webkit-transform: scaleX(2);
        transform: scaleX(2);
    }
    35% {
        height: 15px;
        border-radius: 50%;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    100% {
        top: 0;
    }
}


/* =======================================
    Scroll To Top Button
/*========================================*/

.toTop {
    background-color: #000;
    color: #fff;
    position: fixed;
    bottom: 40px;
    right: -60px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    line-height: 40px;
    border-radius: 7px;
    z-index: 5;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.toTop:hover {
    background-color: #ffc91e;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .5s;
    transition: all .5s;
}

.toTop i {
    font-size: 18px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.toTop:hover i {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all .5s;
    transition: all .5s;
}


/*==========================================
    Header
/*==========================================*/

header {
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
}

.dividers {
    width: 100%;
    height: 5px;
    display: block;
}

.dividers span {
    display: inline-block;
    height: 5px;
    content: '';
    float: right;
    width: 10%;
}

.t1 {
    background-color: #3498db;
}

.t2 {
    background-color: #2ecc71;
}

.t3 {
    background-color: #f1c40f;
}

.t4 {
    background-color: #8e44ad;
}

.t5 {
    background-color: #1abc9c;
}

.slide-menu {
    background: yellowgreen;
    width: 220px;
    text-align: right;
    position: fixed;
    left: 0;
    top: 0;
    padding: 15px;
    height: 100%;
    z-index: 1;
    overflow-y: auto;
}


/* ======================= Slide Style =========================== */

.st-content {
    overflow: auto;
    background: #f3efe0;
}

.st-content,
.st-content-inner {
    position: relative;
}

.st-container {
    position: relative;
    overflow: hidden;
}

.st-pusher {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

.st-pusher::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.8);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.st-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    text-align: right;
    width: 300px;
    height: 100%;
    background: #222;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.st-menu::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}


/* content style */

.st-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    position: relative;
}

.st-menu h2 {
    margin: auto;
    padding: 20px;
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    font-size: 2em;
    height: 130px;
    text-align: center;
}

.st-menu h2 img {
    display: inline-block;
    height: 100%;
}

.st-menu ul li {
    margin-left: 7px;
}

.st-menu ul li a {
    display: block;
    padding: 1em 1em 1em 1.2em;
    outline: none;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
    color: #8a8a8a;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
    direction: rtl;
}

.st-menu ul li a i {
    margin-left: 7px
}

.st-menu ul li:first-child a {
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
}

.st-menu ul li a:hover {
    background: #0D8D47;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
    color: #fff;
    -webkit-transition: all .3s;
    transition: all .3s;
}


/* Effect 8: 3D rotate out */

.st-effect-8.st-container {
    -webkit-perspective: 1500px;
    perspective: 1500px;
    -webkit-perspective-origin: 0% 50%;
    perspective-origin: 0% 50%;
}

.st-effect-8 .st-pusher {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.st-effect-8.st-menu-open .st-pusher {
    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
}

.st-effect-8.st-menu {
    -webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
    transform: translate3d(-100%, 0, 0) rotateY(90deg);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.st-effect-8.st-menu-open .st-effect-8.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
    transform: translate3d(-100%, 0, 0) rotateY(0deg);
}

.st-effect-8.st-menu::after {
    display: none;
}

.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
    padding-left: 300px;
}

#ascrail2000 {
    top: 132px !important;
    left: 0 !important;
}

.st-content #st-trigger-effects {
    position: fixed;
}

.st-content .st_show {
    position: fixed;
    border: 0;
    background: #2C3F52;
    color: #fff;
    left: 0;
    top: 4%;
    width: 50px;
    height: 40px;
    font-size: 20px;
    outline: 0;
    cursor: pointer;
    z-index: 999999;
    transition: all .4s;
}

.st-menu .close-nav {
    position: absolute;
    right: 0;
    top: 26px;
    background: #0d8d47;
    padding: 12px 15px;
    color: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}

.st-menu .close-nav i {
    transition: all .3s;
}

.st-menu .close-nav:hover {
    background-color: #0D8D47;
    transition: all .3s;
}

.st-menu .close-nav:hover i {
    transform: rotate(360deg);
    transition: all .3s;
}


/*================================
Navigation
/*================================*/

.toggle-slidenav {
    color: #fff;
    background: #0D8D47;
    height: 49px;
    line-height: 49px;
    text-align: center;
    position: absolute;
    font-size: 23px;
    left: -50px;
    top: 0;
    width: 50px;
    z-index: 999;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.toggle-slidenav:hover {
    background: #3498DB;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.toggle-slidenav i {
    -webkit-transition: all .3s;
    transition: all .3s;
}

.nav-right .logo {
    display: inline-block;
    float: right !important;
    padding: 15px 0 10px 0;
}

.nav-left .user-controls {
    float: left !important;
    padding: 20px 0 0 0;
}

.nav-left .user-controls ul li {
    display: inline-block;
}

.nav-left .user-controls ul li a {
    display: inline-block;
    margin: 0 3px;
    color: #fff;
    background-color: #0d8d47;
    padding: 17px;
    border-radius: 3px;
    direction: rtl;
    font-family: 'neo-reg';
    font-size: 14px;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.nav-left .user-controls ul li a:hover {
    background-color: #056839;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.nav-left .user-controls ul li a i {
    margin-left: 7px;
}


/*================================
Search-box
/*================================*/

.search-box {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/slide1.jpg);
    background-attachment: fixed;
    padding: 100px 0;
    position: relative;
}

.search-inner h1 {
    color: #fff;
    font-size: 24px;
    font-family: 'neo-reg';
    padding-bottom: 25px;
}

.search-inner .form-item .input-container input[type="text"] {
    direction: rtl;
    text-align: right;
    height: 50px;
    width: 100%;
    padding: 15px;
    outline: 0;
    border: 0;
    font-size: 15px;
    line-height: 50px;
    color: #b7b7b7;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.search-inner .form-item .btn-container {
    padding: 0 5px;
}

.search-inner .form-item .btn-container button,
.search-inner .form-item .btn-container a {
    background-color: #0d8d47;
    border: 0;
    outline: 0;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    width: 100%;
    color: #fff;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.search-inner .form-item .btn-container button:hover {
    background-color: #056839;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.form-advanced {
    padding: 20px;
    background: #0D8D47;
    margin-top: 40px;
    display: none;
    border-radius: 4px;
}

.search-inner .form-item .btn-container button i {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.form-advanced:before {
    border-bottom: 8px solid #0D8D47;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: '';
    right: 3%;
    position: absolute;
    top: -7px;
}

.form-advanced .advanced-item {
    padding: 0 13px;
}

.form-advanced .advanced-item .price-spec {
    padding: 15px 0;
    direction: rtl;
}

.form-advanced .advanced-item .price-spec label {
    display: inline-block;
    direction: rtl;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
    margin-left: 15px;
}

.form-advanced .advanced-item .price-spec label input {
    border: 0;
}

.form-advanced .advanced-item input[type="text"] {
    direction: rtl;
    text-align: right;
    height: 40px;
    width: 100%;
    padding: 15px;
    outline: 0;
    border: 0;
    font-size: 14px;
    line-height: 40px;
    border-radius: 4px;
    color: #b7b7b7;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.adv-right,
.search-inner .form-item .btn-right {
    padding-right: 0;
    position: relative;
}

.input-lft,
.adv-left {
    padding-left: 0;
}

.form-advanced .advanced-item h2 {
    background: #0D8D47;
    color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-family: 'neo-bold';
    font-weight: normal;
    font-size: 14px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form-advanced .advanced-item .price-from,
.form-advanced .advanced-item .price-to {
    direction: rtl;
    text-align: right;
    height: 40px;
    width: 49%;
    padding: 15px;
    outline: 0;
    border: 0;
    font-size: 14px;
    line-height: 40px;
    border-radius: 4px;
    color: #b7b7b7;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.form-advanced .advanced-item input[type="text"]:focus,
.search-inner .form-item .input-container input[type="text"]:focus,
.form-advanced .advanced-item .price-from:focus,
.form-advanced .advanced-item .price-to:focus {
    color: #131313;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.header-nav .input-container {
    padding: 30px 0;
    background-size: 13%;
    background-color: #FFC91E;
    z-index: 1;
}

.header-nav .input-container input[type="text"] {
    width: 89%;
    height: 35px;
    text-align: right;
    text-indent: 10px;
    border: 0;
    color: #adadad;
    font-size: 13px;
    direction: rtl;
    outline: 0;
    line-height: 35px;
    border-radius: 3px;
    float: right;
}

.header-nav .input-container button {
    width: 9%;
    border: 0;
    height: 35px;
    background-color: #0D8D47;
    text-align: center;
    color: #fff;
    outline: 0;
    float: left;
    display: inline-block;
    border-radius: 3px;
    font-size: 14px;
}

.header-nav .input-container button i {
    position: relative;
    top: -1px;
}


/*===============================================
        Courses
/*===============================================*/

.courses-head {
    padding-top: 50px;
}

.courses-head h1 {
    color: #0D8D47;
    font-family: 'neo-bold';
    font-size: 30px;
    padding-bottom: 20px;
    position: relative;
}

.courses-head h1:before {
    content: '';
    position: absolute;
    width: 200px;
    height: 2px;
    background-color: #0D8D47;
    left: 15%;
    right: 15%;
    margin: auto;
    top: 77%;
}

.courses-head h1:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #0D8D47;
    left: 15%;
    right: 15%;
    margin: auto;
    top: 85%;
}

.block-container {
    padding: 30px 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.all-courses {
    padding-bottom: 60px;
}

.all-courses a {
    background: #0D8D47;
    font-family: 'neo-bold';
    display: inline-block;
    -webkit-transition: all .4s;
    transition: all .4s;
    padding: 15px;
    font-size: 14px;
    border-radius: 4px;
}

.all-courses a:hover {
    background-color: #2c3f52;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.block {
    display: inline-block;
    margin: 0;
    padding: 20px;
    text-align: left;
    position: relative;
    float: right;
}

.row figure {
    margin: 0;
    position: relative;
}

.row figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    background: #2c3f52;
    color: #ed4e6e;
}

.row figcaption h1 {
    color: #fff;
    padding: 5px 0;
    text-align: right;
    direction: rtl;
}

.row figcaption h1 span {
    font-family: 'neo-bold';
    font-weight: normal;
    font-size: 14px;
    margin-left: 5px;
    color: #FFC91E;
}

.row figcaption h1 label {
    font-family: 'neo-reg';
    font-weight: normal;
}

.row figcaption h1 label:after {
    content: ':';
    margin: 0 7px
}


/* Start hover animation */

.row .block {
    -webkit-perspective: 1700px;
    perspective: 1700px;
    -webkit-perspective-origin: 0 50%;
    perspective-origin: 0 50%;
}

.row figure {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.row figure > div {
    overflow: hidden;
}

.row figure img {
    height: 250px;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
}

.no-touch .row figure:hover img,
.row figure.cs-hover img {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
}

.row figcaption {
    height: 100%;
    width: 75%;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -webkit-transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
    transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s, -webkit-transform 0.4s;
}

.no-touch .row figure:hover figcaption,
.row figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -webkit-transition: opacity 0.1s, -webkit-transform 0.4s;
    transition: opacity 0.1s, -webkit-transform 0.4s;
    transition: transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s, -webkit-transform 0.4s;
}

.row figcaption a {
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 20px;
    text-align: center;
    background-color: #0D8D47;
    padding: 10px;
    display: inline-block;
    border-radius: 3px;
    font-size: 13px;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.row figcaption a i {
    margin-right: 5px;
}

.row figcaption a:hover {
    background-color: #056839;
    -webkit-transition: all .4s;
    transition: all .4s;
}


/*===============================================
        Testominal
/*===============================================*/

.testominal {
    background-position: center center;
    background-size: cover;
    background-image: url(../images/bg-4.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 100px 0;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    left: 0;
    top: 0;
}

.testo-head,
.testo-slider {
    z-index: 1;
    position: relative;
}

.testo-head {
    padding-bottom: 50px;
}

.testo-head h1 {
    color: #fff;
    font-family: 'neo-bold';
    font-size: 30px;
    padding-bottom: 20px;
    position: relative;
}

.testo-head h1:before {
    content: '';
    position: absolute;
    width: 200px;
    height: 2px;
    background-color: #fff;
    left: 15%;
    right: 15%;
    margin: auto;
    top: 77%;
}

.testo-head h1:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #fff;
    left: 15%;
    right: 15%;
    margin: auto;
    top: 85%;
}

.testo-item .testo-img img {
    margin: auto;
    border-radius: 50%;
    border: 5px solid #fff;
    overflow: hidden;
    width: 110px;
    height: 110px;
}

.testo-slider {
    padding: 0 150px;
}

.testo-slider .testo-item {
    background-color: rgba(0, 0, 0, 0.42);
    border-radius: 5px;
    padding: 50px;
}

.testo-slider .testo-item p {
    margin-top: -25px;
    color: #FFFFFF;
    font-family: 'kufi-reg';
    font-size: 14px;
    padding-bottom: 20px;
}

.testo-slider .testo-item h1 {
    background-color: #fff;
    display: inline-block;
    padding: 10px 50px;
    border-radius: 5px;
    color: #0D8D47;
    font-family: 'neo-bold';
    position: relative;
    top: 18px;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #0D8D47;
}


/*===============================================
        Footer
/*===============================================*/

footer {
    background-color: #121212;
    padding: 20px 0;
    float: right;
    width: 100%;
    max-width: 100%;
}

.footer-links ul li,
.footer-sub ul li {
    display: inline-block;
}

.footer-links ul li a {
    display: inline-block;
    margin-right: 5px;
    font-size: 30px;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.footer-sub ul li a {
    display: inline-block;
    direction: rtl;
    color: #fff;
    margin-top: 5px;
    margin-left: 15px;
}

.footer-sub ul li a:hover {
    text-decoration: underline;
}

.footer-links ul li a:hover {
    color: #ffc91e;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.copyrights p {
    color: #fff;
    position: relative;
}


/*=======================================
    Login Area
/*======================================*/

.login-area {
    padding: 30px 0;
    background-color: #1ABC9C;
    display: none;
}

.login-form,
.signup-form {
    padding: 0 20px;
}

.login-form h1,
.signup-form h1 {
    padding: 0 0 20px 0;
    color: #fff;
    font-family: 'neo-bold';
    font-size: 15px;
}

.login-item {
    margin-bottom: 10px;
}

.login-item label {
    direction: rtl;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 15px 0 20px 0;
    font-family: 'neo-bold';
}

.login-item input[type='text'],
.login-item input[type='password'] {
    width: 100%;
    direction: rtl;
    text-indent: 10px;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
    color: #adadad;
    outline: 0;
    border: 0;
    border-radius: 3px;
}

.login-item input[type='submit'] {
    border: 0;
    outline: 0;
    padding: 10px 30px;
    background: #2ecc71;
    color: #fff;
    font-size: 13px;
    font-family: 'kufi-bold';
    width: 100%;
    border-radius: 3px;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.signup-form p {
    padding-bottom: 15px;
    color: #fff;
    font-family: 'neo-reg';
    font-size: 14px;
}

.signup-form a {
    display: inline-block;
    direction: rtl;
    background: #0AA284;
    padding: 10px 20px;
    font-size: 13px;
    font-family: 'neo-bold';
    -webkit-transition: all .4s;
    transition: all .4s;
}

.login-item .forget {
    -webkit-transition: all .3s;
    transition: all .3s;
}

.login-item .forget:hover {
    color: #077862;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.signup-form a:hover,
.login-item input[type='submit']:hover {
    background: #149b4d;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.signup-form a i {
    margin-left: 7px;
}

input[type="radio"],
input[type="checkbox"] {
    border: 0;
    background: #fff;
    color: #555;
    clear: none;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin: -4px 4px 0 7px;
    outline: 0;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    min-width: 16px;
    -webkit-appearance: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: .05s border-color ease-in-out;
    transition: .05s border-color ease-in-out;
    border: 1px solid #969696;
}

input[type="radio"]:focus,
input[type="checkbox"]:focus {
    box-shadow: 0;
    outline: 0
}

input[type="radio"]:checked:before,
input[type="checkbox"]:checked:before {
    float: left;
    display: inline-block;
    width: 19px;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input[type="radio"] {
    border-radius: 50%;
    line-height: 10px;
    font-size: 14px
}

input[type="radio"]:checked:before {
    content: '\2022';
    text-indent: -9999px;
    border-radius: 50px;
    font-size: 24px;
    width: 6px;
    height: 6px;
    margin: 4px;
    line-height: 16px;
    background-color: #333;
}

input[type="checkbox"]:checked:before {
    content: "\f00c";
    margin: 2px 0 0 -1px;
    color: #077862;
    font-family: fontawesome;
    font-size: 12px;
}

.big-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 997;
}

.panel-pop {
    max-width: 580px;
    position: fixed;
    padding: 20px;
    top: -100%;
    z-index: 998;
    overflow: hidden;
    color: #2f3239;
    display: none;
    margin: auto;
}

.lost-inner {
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    text-align: right;
    direction: rtl;
}

.lost-inner h1 {
    padding: 0 0 15px 0;
    border-bottom: 1px solid #077862;
    margin-bottom: 15px;
    font-size: 14px;
    font-family: 'neo-bold';
    color: #077862
}

.lost-inner .lost-item {
    margin-bottom: 15px;
}

.lost-inner #messageTo textarea,
.lost-inner #alert-item textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    text-align: right;
    direction: rtl;
    outline: 0;
    height: 110px;
    resize: vertical;
    font-size: 13px;
}

.lost-inner .lost-item input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    outline: 0;
    text-indent: 12px;
    color: #656565;
    border: 1px solid #dfdfdf;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.lost-inner div input[type='submit'] {
    margin: auto;
    border: 0;
    outline: 0;
    padding: 10px 30px;
    display: inline-block;
    font-family: 'neo-reg';
    font-size: 14px;
    background: #077862;
    color: #fff;
    border-radius: 4px;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.lost-inner div input[type='submit']:hover {
    background-color: #0D8D47;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.modal {
    bottom: auto;
}

#teacher-modal h1 i {
    margin-left: 7px;
}

#teacher-modal p {
    line-height: 32px;
}


/*===========================================
        SignUp Page
/*===========================================*/

.signup-area {
    padding: 30px 0;
    background-image: url(../images/sliderbj.png);
    background-attachment: fixed;
    background-size: 13%;
    background-color: #0D8D47;
    display: none;
}

.signup-area .login-form {
    padding: 15px;
    background: rgba(0, 0, 0, 0.23);
    border-radius: 5px;
}

.up-header {
    background-image: url(../images/sliderbj.png);
    background-attachment: fixed;
    background-size: 13%;
    background-color: #0D8D47;
    padding: 30px 0;
}

.up-header h1 {
    color: #fff;
    font-family: 'neo-bold';
    font-size: 20px;
}

.up-box {
    background-color: #f5f5f5;
    padding: 0;
}

.up-form {
    margin: auto;
    float: none;
    background-color: #fff;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    max-width: 530px;
    padding: 15px;
}

.up-form .up_form-item {
    margin-bottom: 12px;
}

.up-form .up_form-item input[type="text"],
.up-form .up_form-item input[type="email"],
.up-form .up_form-item input[type="password"],
.up-form .up_form-item input[type="number"] {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: right;
    direction: rtl;
    text-indent: 10px;
    font-size: 13px;
    color: #8d8d8d;
    outline: 0;
    border: 1px solid #dfdfdf;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.up-form .up_form-item input[type="text"]:focus,
.up-form .up_form-item input[type="email"]:focus,
.up-form .up_form-item input[type="password"]:focus,
.up-form .up_form-item input[type="number"]:focus {
    border: 1px solid #0D8D47;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.up-form .up_form-item select {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: right;
    direction: rtl;
    text-indent: 10px;
    font-size: 15px;
    cursor: pointer;
    color: #8d8d8d;
    outline: 0;
    border: 1px solid #dfdfdf;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.up-form .up_form-item label {
    text-align: right;
    display: inline-block;
    padding: 10px 0px 10px 20px;
    margin-left: 15px;
    direction: rtl;
    /*    cursor: pointer;*/
}

.up-form .up_form-item label input[type="checkbox"] {
    border: 1px solid #969696;
}

.up-form .up_form-item label span {
    font-size: 15px;
    font-weight: normal;
    font-family: 'neo-bold';
    color: #656565;
    position: relative;
    vertical-align: text-top;
}

.up-confirm {
    margin-top: 20px;
}

.up-form .up-confirm input {
    text-align: center;
    font-family: 'neo-bold';
    font-size: 14px;
    background-color: #0D8D47;
    color: #fff;
    -webkit-transition: all .4s;
    transition: all .4s;
    width: 100%;
    height: 50px;
    line-height: 50px;
    direction: rtl;
    text-indent: 10px;
    outline: 0;
    border: 1px solid #dfdfdf;
}

.up-form .up-confirm input:hover {
    background-color: #19a759;
    -webkit-transition: all .4s;
    transition: all .4s;
}


/*=======================================
    All-courses Page
/*=========================================*/

.allcourses-head {
    background-image: url(../images/sliderbj.png);
    background-attachment: fixed;
    background-size: 13%;
    background-color: #0D8D47;
    padding: 30px 0;
}

.allcourses-head h1 {
    color: #fff;
    font-family: 'neo-bold';
    font-size: 20px;
}

.nav-left .user-logged {
    float: left !important;
    padding: 20px 0 0 0;
}

.nav-left .user-logged ul li {
    display: inline-block;
}

.nav-left .user-logged ul li a.show-user_search,
.nav-left .user-logged ul li a.show-notification {
    padding: 17px 15px;
    display: inline-block;
    position: relative;
    top: 2px;
}

.user-search {
    display: none;
}

.nav-left .user-logged ul li a .cont-img {
    display: inline-block;
    float: right;
    margin-left: 10px;
}

.nav-left .user-logged ul li a .cont-img img {
    border-radius: 50%;
}

.nav-left .user-logged ul li a b {
    font-weight: normal;
    font-family: 'neo-bold';
    margin-top: 10px;
    display: inline-block;
    margin-left: 10px;
}

.nav-left .user-logged ul li .dropdown-menu {
    padding: 0;
}

.nav-left .user-logged ul li .notification-box {
    min-width: 260px;
    height: 200px;
    width: 260px;
    overflow-y: auto;
}

.nav-left .user-logged ul li .drop-links {
    padding: 0 3px;
}

.nav-left .user-logged ul li .drop-links ul li {
    display: block;
}

.nav-left .user-logged ul li .drop-links ul li a {
    display: block;
    margin: 5px 0;
    color: #fff;
    background-color: #0d8d47;
    padding: 10px;
    text-align: right;
    border-radius: 3px;
    direction: rtl;
    font-family: 'neo-reg';
    font-size: 13px;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.nav-left .user-logged ul li .notification-box ul li a {
    display: block;
    margin: 0;
    border-bottom: 1px solid #0F6D39;
    color: #fff;
    /*    background-color: #f1f1f1;*/
    padding: 10px;
    text-align: right;
    border-radius: 0px;
    direction: rtl;
    font-family: 'neo-reg';
    font-size: 13px;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.nav-left .user-logged ul li .notification-box ul li {
    overflow: hidden;
}

.nav-left .user-logged ul li .notification-box ul {
    padding: 0px;
}

.nav-left .user-logged ul li .notification-box ul li a .img-circle {
    margin: auto auto auto 10px;
    width: 40px;
    height: 40px;
    border: 1px solid #dddddd;
}

.nav-left .user-logged .notification-box .drop-links {
    padding: 0;
}

.nav-left .user-logged ul li .notification-box ul li a h4 {
    padding: 0;
    margin: 0 45px 5px 0;
    color: #fff;
    font-size: 13px;
    direction: rtl;
    text-align: right;
}

.nav-left .user-logged ul li .notification-box ul li a h4 small {
    color: #B8E2CC;
    font-size: 10px;
    float: left;
}

.nav-left .user-logged ul li .notification-box ul li a h4 small i {
    margin-left: 3px;
}

.nav-left .user-logged ul li .notification-box ul li a p {
    margin: 0 45px 0 0;
    font-size: 12px;
    color: #B8E2CC;
    overflow: hidden;
    min-height: 45px;
    height: 45px;
}

.nav-left .user-logged ul li .drop-links ul li a:hover {
    background-color: #0b6d38;
    -webkit-transition: all .4s;
    transition: all .4s;
}


/*
.nav-left .user-logged ul li .notification-box ul li a:hover {
    background-color: #ccc;
    transition: all .4s;
}
*/

.nav-left .user-logged ul li .drop-links ul li a.active {
    background: #FFC91E;
    color: #056839;
}

.nav-left .user-logged ul li a {
    display: inline-block;
    margin: 0 3px;
    color: #fff;
    background-color: #0d8d47;
    padding: 5px 10px;
    border-radius: 3px;
    direction: rtl;
    font-family: 'neo-reg';
    font-size: 13px;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.nav-left .user-logged ul li a {}

.inner {
    margin: -7px 0 10px 0;
}

.pagination > li {
    display: inline-block;
}

.pagination > li > a,
.pagination > li > span {
    float: none;
    margin: 1px;
}

.pagination > li > a,
.pagination > li > span {
    color: #0D8D47;
    border: 1px solid #dfdfdf;
    padding: 3px 10px;
    float: left;
    border-radius: 3px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #FFFFFF;
    background-color: #0D8D47;
    border-color: #0D8D47;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    color: #FFFFFF;
    background-color: #0D8D47;
    border-color: #0D8D47;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.search-categories {
    padding: 20px 0;
    background-color: #2C3F52;
}

.search-categories .cat-inner {
    padding: 0 15px;
    position: relative;
}

.cat-inner input {
    height: 34px;
    border: 0;
    background: #182633;
    color: #758696;
    direction: rtl;
    text-indent: 10px;
    font-size: 14px;
    line-height: 34px;
    font-family: 'neo-bold';
    outline: 0;
    border-radius: 4px;
    width: 100%;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.cat-inner input:focus {
    color: #fff;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.cat-inner button {
    position: absolute;
    left: 20px;
    top: 5px;
    border: 0;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    width: 50px;
    background-color: #0D8D47;
    color: #fff;
    border-radius: 3px;
    -webkit-transition: all .4s;
    transition: all .4s;
    outline: 0;
}

.cat-inner button:hover {
    background-color: #0dac55;
}

.cat-inner button i {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.cat-inner a i {
    float: left;
    margin-left: 10px;
}

.show-cat {
    display: inline-block;
    background: #182633;
    padding: 10px;
    width: 100%;
    text-align: right;
    direction: rtl;
    border-radius: 4px;
    font-family: 'neo-bold';
    font-size: 14px;
}

.hidden-cat {
    background: #182633;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    position: relative;
    display: none;
}

.hidden-cat:after {
    border-bottom: 8px solid #182633;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: '';
    right: 3%;
    position: absolute;
    top: -7px;
}

.hidden-cat ul li {
    display: block;
    border-bottom: 1px solid #2C3F52;
}

.hidden-cat ul li a {
    padding: 10px;
    width: 100%;
    text-align: right;
    direction: rtl;
    font-size: 14px;
    color: white;
    display: block;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.hidden-cat ul li a:hover {
    background-color: #2C3F52;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.hidden-cat ul li:last-child {
    border-bottom: 0;
}


/*===========================================================
            Reset Password
/*================================================*/

.forget-panel {
    margin: 90px auto;
}


/*=====================================================
        Error Area
/*======================================================*/

.error-detect {
    padding: 10px 0;display: none;
}

.error-detect .error-danger {
    padding: 15px 100px;
}

.error-detect .error h1 {
    padding: 15px;
    color: #fff;
    font-family: 'neo-bold';
    border-radius: 4px;
}

.error-detect .error h1.danger-l {
    background: #e66355;
}

.error-detect .error h1.message-l {
    background: #3498db;
}

.error-detect .error h1.success-l {
    background: #2ecc71;
}


/*=====================================================
            profile page
/*======================================================*/

.profile-content {
    background-color: #f1f1f1;
    padding: 70px 0;
}

.profile_box {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 15px;
    border-radius: 3px;
    display: inline-block;
}

.profile_img {
    border: 1px solid #dfdfdf;
    padding: 3px 3px 1px 3px;
}

.profile_item {
    background: #f1f1f1;
    margin-bottom: 15px;
    display: block;
    text-align: right;
    direction: rtl;
    padding: 10px;
    position: relative;
}

.profile_item div h1 {
    padding: 10px 10px 10px 0;
    display: inline-block;
    font-family: 'neo-bold';
}

.profile_item div h1:after {
    content: ':';
    margin: 0 15px;
}

.profile_item div span {
    font-family: 'neo-bold';
    color: #0D8D47;
}

.profile_item i {
    margin: 0 10px;
    color: #0D8D47;
}

.profile_data {
    padding: 0 0 0 15px;
}

.profile_name h1 {
    background: #f1f1f1;
    padding: 20px;
    font-family: 'neo-bold';
}

.profile_item a {
    color: #FFFFFF;
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 13px;
    background: #0D8D47;
    padding: 5px;
    border-radius: 3px;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.profile_item a:hover {
    background: #086f37;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.Edit {
    padding: 15px;
    position: relative;
    margin-top: 15px;
    background: #2ECC71;
    display: none;
    border-radius: 3px;
}

.Edit input[type="text"] {
    width: 89%;
    /* float: right; */
    height: 35px;
    display: inline-block;
    border: 0;
    text-indent: 10px;
    font-size: 14px;
    color: #adadad;
    margin-left: 1%;
    outline: 0;
    line-height: 35px;
    border-radius: 3px;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.Edit input[type="submit"] {
    width: 10%;
    float: left;
    height: 35px;
    border: 0;
    line-height: 30px;
    font-size: 14px;
    font-family: 'neo-bold';
    border-radius: 3px;
    color: #fff;
    outline: 0;
    background: #0d8d47;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.Edit:before {
    border-bottom: 8px solid #2ECC71;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: '';
    left: 1%;
    position: absolute;
    top: -7px;
}

.Edit input[type="submit"]:hover {
    background: #06a04c;
    -webkit-transition: all .4s;
    transition: all .4s;
}


/*============================================
            Profile1
/*============================================*/

.right_tap-box,
.left_tap-box {
    padding: 0 12px;
    border-radius: 0px;
    -webkit-transition: all 35s;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.right_tap-box .right_box-inner,
.left_tap-box .left_box-inner {
    background: #fff;
    border: 1px solid #dfdfdf;
}

.right_tap-box .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    display: block;
    text-align: right;
    direction: rtl;
    width: 100%;
}

.right_tap-box .nav-tabs > li a {
    color: #333;
    font-size: 15px;
    font-family: 'neo-reg';
    margin: 0;
    border-radius: 0;
    padding: 14px;
    border-bottom: 1px solid #dfdfdf;
}

.right_tap-box .nav-tabs > li a i {
    margin-left: 7px;
}

.right_tap-box .nav-tabs > li.active > a,
.right_tap-box .nav-tabs > li.active > a:hover,
.right_tap-box .nav-tabs > li.active > a:focus {
    cursor: default;
    background-color: #2ECC71;
    border: 0;
    color: #fff;
    border-radius: 0;
}

.home-head {
    text-align: right;
    padding: 14px;
    direction: rtl;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 10px;
}

.home-head h1 {
    font-family: 'neo-bold';
    font-size: 14px;
    display: inline-block;
}

.home-head h1 i {
    margin-left: 10px;
}

.add1_course,
.edit-personal,
.cancel-personal {
    cursor: pointer;
    left: 25px;
    color: #fff;
    display: inline-block;
    position: absolute;
    background: #0D8D47;
    font-size: 15px;
    padding: 9px 10px;
    border-radius: 3px;
    top: 6px;
    border: 0;
    outline: 0;
}

.cancel-personal {
    display: none;
}

.add1_course i,
.edit-personal i,
.cancel-personal i {
    font-size: 13px;
    position: relative;
    top: 1px;
    margin-left: 10px;
}

.home-content {
    display: inline-block;
    padding: 14px;
}

.home-content .home_data {
    padding-left: 20px;
}

.home-content .home_data-item {
    display: block;
    text-align: right;
    direction: rtl;
    padding: 10px;
    position: relative;
}

.home-content .home_data-item > div {
    background: #f1f1f1;
    position: relative;
}

.home-content .home_data-item h1 {
    padding: 10px 0;
    display: inline-block;
    font-family: 'neo-bold';
    font-size: 13px;
}

.home-content .home_data-item h1:after {
    content: ':';
    margin: 0 7px;
}

.home-content .home_data-item i {
    margin: 0 5px;
    color: #0D8D47;
    position: relative;
    top: 1px;
}

.home-content .home_data-item span {
    font-family: 'neo-bold';
    color: #0D8D47;
    font-size: 14px;
}

.home-content,
.home_data {
    width: 100%;
}

.home_img .home_img-inner {
    border: 1px solid #dfdfdf;
    padding: 2px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.home_img img {
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.imgcontent {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 0px;
    padding: 0px;
    display: none;
    background: no-repeat center;
    background-size: 100% 100%;
}

.imgcontent .bstext {
    color: #fff;
    position: relative;
    top: 40%;
    left: 0;
    text-align: center;
}

.imgcontent .bstext span {
    font-size: 15px;
    position: relative;
    top: 0px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.imgcontent .bstext span i {
    margin-bottom: 7px;
}

.prof-pic:hover .bstext span {
    top: 15px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.imgcontent input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}

.left-caption {
    background-color: rgba(0, 0, 0, 0.74);
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}


/*
.home_img-inner:hover .left-caption {
    opacity: 1;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}*/

.pass-content {
    background-color: #fff;
}

.pass-content .home_data {
    float: none !important;
}

.home-content .home_data-item > div.my-sertf {
    padding: 20px;
}

.home-content .home_data-item > div.my-sertf ul li {
    display: block;
    background: #CACACA;
    padding: 13px;
    margin-bottom: 10px;
}

.home-content .home_data-item > div.my-sertf ul li a {
    float: left;
    display: inline-block;
    background-color: #0D8D47;
    padding: 13px 15px;
    border-radius: 3px;
    font-family: 'neo-bold';
    color: #fff;
    font-size: 14px;
}

.home-content .home_data-item > div.my-sertf ul li a i {
    color: #fff;
}

.home-content .home_data-item > div.my-sertf ul li h1 {
    font-size: 15px;
}

.home-content .home_data-item > div.my-sertf ul li h1:after {
    display: none;
}


/* ==================================================================================================================  Research studim ================================== */

.shop-wrapper,
.shop-container {
    padding: 0;
}

.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
    line-height: 25px;
    text-transform: capitalize;
    font-size: 14px;
    font-family: 'neo-bold';
    color: #2ECC87;
}

.panel-title > a > h5 {
    display: inline-block;
    float: left;
    margin: 4px;
    font-size: 15px;
    direction: rtl;
    font-family: 'neo-bold';
}

.panel-title > a > h5 i {
    margin-left: 3px;
    position: relative;
    top: -1px;
}

.panel-group {
    margin: 0;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #2ECC71;
}

.collapse.in {
    background-color: #f9f9f9;
}

.panel,
.panel-group .panel {
    border-radius: 0;
    margin-bottom: 13px;
    box-shadow: none;
    border-left: 2px solid #2ECC71;
}

.panel-default > .panel-heading {
    padding: 10px;
    background-color: #fff;
}

.panel-body ul li {
    display: block;
    padding: 13px 0;
    text-align: right;
    direction: rtl;
    border-bottom: 1px solid #dfdfdf;
}

.panel-body ul li:last-child {
    border: 0;
}

.panel-body ul li h1 label {
    font-weight: normal;
    font-family: 'neo-bold';
    font-size: 13px;
}

.panel-body ul li h1 label:after {
    content: ':';
    margin: 0 7px;
}

.panel-body ul li h1 span {
    color: #0D8D47;
    font-family: 'neo-bold';
    font-size: 14px;
}

.panel-body ul li h1 span.par {
    line-height: 24px;
}

.instructor-control {
    padding: 20px 0;
    background-color: #333;
}

.instructor-control a {
    background: yellowgreen;
    padding: 10px;
    display: inline-block;
    margin: 5px;
    border-radius: 3px;
    font-size: 14px;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.instructor-control a i {
    font-size: 12px;
    margin-right: 7px;
}

.instructor-control a.add-course {
    background-color: #1abc9c
}

.instructor-control a.add-course:hover {
    background-color: #0ea789
}

.instructor-control a.delete-course {
    background-color: #e74c3c;
}

.instructor-control a.delete-course:hover {
    background-color: #db3b2a;
}

.instructor-control a.edit-course {
    background-color: #4aa3df;
}

.instructor-control a.edit-course:hover {
    background-color: #3794d3;
}

.instructor-control a.message-course {
    background-color: #e87d00;
}

.instructor-control a.message-course:hover {
    background-color: #c36a02;
}

.selectric-items {
    height: 120px !important;
    overflow: hidden;
}

.empty-course {
    padding: 70px 0 300px 0;
}

.empty-course .container {
    overflow: hidden;
}

.cv-file {
    padding: 0 15px;
}

.cv-file h1 {
    padding: 10px 0;
    display: inline-block;
    font-family: 'neo-bold';
    font-size: 13px;
    margin-bottom: 8px;
}

.cv-file input[type="url"] {
    width: 100%;
    height: 40px;
    text-indent: 10px;
    border: 1px solid #dfdfdf;
    margin-bottom: 15px;
    line-height: 40px;
    outline: 0;
    color: #adadad;
    font-size: 14px;
}

.cv-file textarea {
    width: 100%;
    height: 110px;
    padding: 12px;
    border: 1px solid #dfdfdf;
    margin-bottom: 15px;
    outline: 0;
    color: #adadad;
    font-size: 14px;
    resize: vertical;
}

.cv-file input[type="submit"] {
    display: inline-block;
    padding: 10px 50px;
    border: 0;
    margin-bottom: 15px;
    color: #fff;
    background: #0D8D47;
    font-family: 'neo-bold';
    font-size: 13px;
    border-radius: 3px;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.cv-file input[type="submit"]:hover,
.show-cv:hover {
    background: #0b773c;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.show-cv {
    float: left;
    text-align: right;
    direction: rtl;
    background: #0D8D47;
    padding: 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-family: 'neo-bold';
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.home-content .home_data-item .cv-container {
    display: none;
    padding: 20px;
    background-color: #dcdcdc;
}

.cv-container p {
    color: #333;
    font-size: 15px;
    line-height: 30px;
}

.home-content .home_data-item .cv-container a {
    display: inline-block;
    padding: 15px;
    background: #0D8D47;
    border-radius: 4px;
    margin-top: 10px;
}

.home-content .home_data-item .cv-container a i {
    color: #fff;
}

.right_tap-box {
    position: absolute;
    -webkit-transition: all .3s;
    transition: all .3s;
    right: 0px;
}

.mobile_tap-box {
    padding: 0 12px;
    border-radius: 0px;
    direction: rtl;
    -webkit-transition: all .5s;
    transition: all .5s;
    margin-bottom: 20px;
}

.mobile_tap-box .right_box-inner {
    background: #fff;
    border: 1px solid #dfdfdf;
}

.right_box-inner {
    position: relative;
}

.mobile_tap-box .nav-tabs {
    border: 0;
}

.mobile_tap-box .nav-tabs > li {
    margin: 0;
    display: inline-block;
    float: none;
    border: 0;
}

.mobile_tap-box .nav-tabs > li a {
    color: #333;
    font-size: 15px;
    font-family: 'neo-reg';
    margin: 0;
    border-radius: 0;
    padding: 15px 49px;
    border: 0;
}

.mobile_tap-box .nav-tabs > li.active > a,
.mobile_tap-box .nav-tabs > li.active > a:hover,
.mobile_tap-box .nav-tabs > li.active > a:focus {
    cursor: default;
    background-color: #2ECC71;
    border: 0;
    color: #fff;
    text-align: center;
    border-radius: 0;
    display: inline-block;
    position: relative;
}

.home-content .home_data .interest-show ul li {
    display: inline-block;
    margin: 3px;
    text-align: right;
    direction: rtl;
}

.home-content .home_data .interest-show ul li span {
    font-size: 13px;
    font-family: 'neo-bold';
    background-color: #2ECC71;
    color: #fff;
    border-radius: 3px;
    transition: all .2s;
    text-align: center;
    position: relative;
    padding: 12px 25px;
    overflow: hidden;
    display: inline-block;
    transition: all .3s;
}

.home-content .home_data .interest-show ul li #del-item {
    background: #d81515;
    margin-right: 5px;
    width: 35%;
    height: 100%;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: -50px;
    top: 0;
    transition: all .3s;
}

.home-content .home_data .interest-show ul li span:hover #del-item {
    left: 0;
    transition: all .3s;
}

.home-content .home_data .interest-show ul li span #del-item:hover {
    background: #f02121;
    transition: all .3s;
}

.home-content .home_data .add-interest a {
    background-color: #0D8D47;
    padding: 10px 25px;
    border-radius: 3px;
    display: inline-block;
    margin: 15px 0;
    font-size: 13px;
    font-family: 'neo-bold';
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.home-content .home_data .add-interest a:hover {
    background-color: #17ad5b;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.home-content .home_data .add-interest a i {
    margin-right: 10px;
}

.home-content .home_data-item .interest-cont {
    display: none;
}

.home-content .home_data-item .interest-item {
    background: #f1f1f1;
    margin-bottom: 10px;
    display: block;
    padding: 15px 0;
    float: right;
    direction: rtl;
}

.home-content .home_data-item .interest-item label {
    cursor: pointer;
}

.home-content .home_data-item .interest-item span {
    font-size: 13px;
    font-weight: normal;
    display: inline-block !important;
}

.home-content .home_data-item .interst-gender h1 {
    font-size: 13px;
    padding: 10px 0 20px;
}

.home-content .home_data-item .interst-gender .add_cont {
    padding: 0 10px 20px;
}

.home-content .home_data-item .interst-gender .add_cont label {
    cursor: pointer;
    direction: rtl;
}

.home-content .home_data-item .interst-gender .add_cont label span {
    font-weight: normal;
    font-size: 13px;
    margin-left: 30px;
    display: inline-block !important;
}

.add_lecture {
    background: #1ABC9C;
    margin: 15px;
    padding: 15px;
    border-radius: 4px;
    position: relative;
    display: none;
}

.add_lecture:before {
    border-bottom: 8px solid #1ABC9C;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: '';
    right: 58%;
    position: absolute;
    top: -7px;
}

.add_lecture .lecture-item {
    margin-bottom: 15px;
}

.add_lecture .add-sorting {
    text-align: right;
    direction: rtl;
    display: block;
    float: right;
    width: 100%;
    padding: 12px 0;
}

.add_lecture .add-sorting span {
    font-size: 13px;
    font-weight: normal;
    font-family: 'neo-bold';
    color: #fff;
    position: relative;
    top: -3px;
    margin-left: 20px;
}

.add_lecture .add-sorting input[type="number"] {
    outline: 0;
    height: 35px;
    width: 50px;
    border: 0;
    border-radius: 4px;
    display: inline-block;
    font-weight: normal;
    font-family: 'neo-bold';
    font-size: 15px;
    text-indent: 15px;
}

.add_lecture .lecture-item h1 {
    color: #fff;
    font-family: 'neo-bold';
    text-align: right;
    display: block;
    padding: 0 0 13px 0;
    font-size: 14px;
}

.add_lecture .lecture-item .add_cont {
    padding-bottom: 15px;
}

.add_lecture .lecture-item .add_cont label {
    cursor: pointer;
    direction: rtl;
}

.add_lecture .lecture-item .add_cont label span {
    font-weight: normal;
    font-size: 13px;
    color: #fff;
    direction: rtl;
    text-align: right;
}

.add_lecture .lecture-item .hint {
    text-align: right;
    color: #fff;
    font-size: 12px;
    direction: rtl;
}

.add_lecture .lecture-item .fileUpload {
    position: relative;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    background: #142638;
    padding: 10px;
    border-radius: 3px;
    padding-right: 10px;
    margin-bottom: 4px;
}

.add_lecture .lecture-item .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 120%;
    height: 100%;
    cursor: pointer;
}

.add_lecture .lecture-item .fileUpload span {
    font-size: 14px;
}

.add_lecture .lecture-item .fileUpload span i {
    margin-right: 10px;
}

.add_lecture .lecture-item input[type='text'] {
    width: 100%;
    text-align: right;
    text-indent: 10px;
    border: 1px solid #1E927B;
    height: 40px;
    line-height: 40px;
    outline: 0;
    display: block;
    padding: 15px;
    font-size: 13px;
    color: #969696;
    border-radius: 3px;
    direction: rtl;
}

.add_lecture .lecture-item textarea {
    width: 100%;
    text-align: right;
    text-indent: 10px;
    direction: rtl;
    border: 1px solid #1E927B;
    height: 100px;
    outline: 0;
    display: block;
    padding: 15px;
    font-size: 13px;
    resize: vertical;
    color: #969696;
    border-radius: 3px;
}

.add_lecture .lecture-item input[type='text']:focus,
.add_lecture .lecture-item textarea:focus {
    color: #333;
}

.add_lecture .confirm-lec {
    margin-bottom: 0;
    text-align: left;
}

.add_lecture .confirm-lec input {
    background: #142638;
    border: 0;
    color: #fff;
    padding: 15px;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'neo-bold';
    outline: 0;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.add_lecture .confirm-lec input:hover {
    background: #0c1a29;
    -webkit-transition: all .4s;
    transition: all .4s;
}

#edit-area {
    width: 60%;
    height: 30px;
    border: 1px solid #dfdfdf;
    outline: 0;
    line-height: 30px;
    text-indent: 10px;
    font-size: 13px;
    position: absolute;
    top: 2px;
    display: none;
}

#edit-area:focus {
    color: #333;
}

.confirm-set {
    display: inline-block;
    padding: 10px 30px;
    border: 0;
    margin-bottom: 15px;
    color: #fff;
    background: #0D8D47;
    font-family: 'neo-bold';
    font-size: 13px;
    border-radius: 3px;
    -webkit-transition: all .4s;
    transition: all .4s;
    float: left;
    outline: 0;
    display: none;
}

.in-one {
    display: block;
    background-color: #f1f1f1;
}

.in-one:before {
    display: none;
}

.in-one .lecture-item h1 {
    color: #555;
    font-size: 14px;
}

.in-one .lecture-item input[type='text'],
.in-one .lecture-item textarea {
    border: 1px solid #dfdfdf;
}

.in-one .lecture-item .add_cont label span {
    color: #555;
}

.in-one .lecture-item .hint {
    color: #777;
}

.my_courses-container .nav-tabs li,
#payment .nav-tabs li {
    float: right;
    direction: rtl;
    position: relative;
    display: inline-block;
    top: 2px;
    margin: 0px;
}

.my_courses-container .nav-tabs li a,
#payment .nav-tabs li a {
    font-size: 13px;
    font-family: 'neo-bold';
    margin-right: 5px;
    border: 1px solid #DDDDDD;
    background-color: #f1f1f1;
    border-radius: 4px 4px 0 0;
    padding: 13px 15px;
    display: inline-block;
    color: #0D8D47;
    border-bottom: 0;
    position: relative;
    top: -2px;
}

#payment .nav-tabs li a i {
    margin-left: 10px;
}

.my_courses-container .nav-tabs li:first-child a,
#payment .nav-tabs li:first-child a {
    margin: 0;
}

.my_courses-container .nav-tabs > li.active > a,
.my_courses-container .nav-tabs > li.active > a:hover,
.my_courses-container .nav-tabs > li.active > a:focus,
#payment .nav-tabs > li.active > a,
#payment .nav-tabs > li.active > a:hover,
#payment .nav-tabs > li.active > a:focus {
    color: #FFF;
    cursor: default;
    background-color: #0D8D47;
    border: 0;
}

.my_courses-container .nav-tabs li.active,
#payment .nav-tabs li.active {
    position: relative;
    top: 3px;
}

.my_courses-container .tab-content .filtered-head h1 {
    background-color: #f1f1f1;
    padding: 15px;
    margin: 15px 0;
    direction: rtl;
    color: #056839;
    font-size: 13px;
    font-family: 'neo-bold';
}

.my_courses-container .tab-content .filtered-head h1 i {
    margin-left: 6px;
    position: relative;
    top: 1px;
}

.my_courses-container .tab-content .card {
    padding: 10px;
}

.my_courses-container .tab-content .card .card-inner {
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    -webkit-transition: all .4s;
    transition: all .4s;
    position: relative;
    overflow: hidden;
}

.my_courses-container .tab-content .card .card-inner .corse-type {
    position: absolute;
    background-color: #2635E4;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 13px;
    font-family: 'neo-bold';
    -webkit-transition: all .2s;
    transition: all .2s;
    z-index: 1;
    padding: 10px;
    -webkit-transform: translateY(-35px);
    transform: translateY(-35px);
}

.my_courses-container .tab-content .card .card-inner:hover .corse-type {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all .2s;
    transition: all .2s;
}

.my_courses-container .tab-content .card .card-inner .card-img {
    border-bottom: 1px solid #dfdfdf;
    overflow: hidden;
    position: relative;
    -webkit-transition: all .4s;
    transition: all .4s;
    background-color: #000;
}

.my_courses-container .tab-content .card .card-inner .card-img .lessons-number {
    padding: 15px;
    background-color: #0D8D47;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: all .2s;
    transition: all .2s;
}

.my_courses-container .tab-content .card .card-inner:hover .card-img .lessons-number {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all .2s;
    transition: all .2s;
}

.my_courses-container .tab-content .card .card-inner .card-img .lessons-number h1 {
    font-size: 16px;
    font-family: 'neo-bold';
    color: #fff;
    direction: rtl;
}

.my_courses-container .tab-content .card .card-inner .card-img .lessons-number h1 i {
    margin-left: 7px;
    font-size: 17px;
}

.my_courses-container .tab-content .card .card-inner .card-img img {
    -webkit-transition: all .4s;
    transition: all .4s;
}

.my_courses-container .tab-content .card .card-inner:hover .card-img img {
    opacity: .2;
    -webkit-transform: rotate(10deg) scale(1.5);
    transform: rotate(10deg) scale(1.5);
    -webkit-transition: all .4s;
    transition: all .4s;
}

.my_courses-container .tab-content .card .card-inner .card-data {
    padding: 0 10px 0;
}

.my_courses-container .tab-content .card .card-inner .card-data .course_name {
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 15px;
    padding: 8px 0;
}

.my_courses-container .tab-content .card .card-inner .card-data .course_name h1 a {
    display: inline-block;
    color: #0D8D47;
    padding: 5px;
    font-family: 'neo-bold';
    font-size: 13px;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.my_courses-container .tab-content .card .card-inner:hover .card-data .course_name h1 a {
    color: #0b74dd;
}

.my_courses-container .tab-content .card .card-inner .card-data .course_name h1 a:hover {
    color: #0b74dd;
}

.my_courses-container .tab-content .card .card-inner .card-data .course_setting {
    margin-bottom: 15px;
    padding: 0px 0 15px 0px;
    border-bottom: 1px solid #dfdfdf;
    direction: rtl;
}

.my_courses-container .tab-content .card .card-inner .card-data .course_setting .course_date {
    text-align: right;
    direction: rtl;
    font-size: 12px;
}

.my_courses-container .tab-content .card .card-inner .card-data .course_setting .course_date i {
    margin-left: 5px;
}

.my_courses-container .tab-content .card .card-inner .card-data .course_instructor-data {
    padding: 0 0 20px;
}

.my_courses-container .tab-content .card .card-inner .card-data .course_instructor-data span {
    float: left;
    display: inline-block;
    width: 70px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #0D8D47;
    padding: 2px;
    position: absolute;
    top: 8px;
    right: 8px;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-transform: translateX(90px);
    transform: translateX(90px);
}

.my_courses-container .tab-content .card .card-inner:hover .card-data .course_instructor-data span {
    box-shadow: 0 0 20px #ccc;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all .2s;
    transition: all .2s;
}

.my_courses-container .tab-content .card .card-inner .card-data .course_instructor-data a {
    color: #555;
    font-size: 13px;
    font-family: 'neo-bold';
    display: inline-block;
    direction: rtl;
}

.my_courses-container .tab-content .card .card-inner .card-data .course_instructor-data a i {
    font-size: 15px;
    position: relative;
    top: -1px;
    margin-left: 7px;
}

.my_courses-container .tab-content .card .card-inner:hover .card-data .course_instructor-data a i {
    color: #0D8D47;
}

.my_courses-container .tab-content .card .card-inner .card-data .course_instructor-data a i {
    margin-left: 10px;
    font-size: 15px;
}

.my_courses-container .tab-content #comming .flash_empty,
.my_courses-container .tab-content #commingmy .flash_empty,
.my_courses-container .tab-content #finishedmy .flash_empty {
    padding: 30px;
    0;
}

.my_courses-container .tab-content #comming .flash_empty h1,
.my_courses-container .tab-content #commingmy .flash_empty h1,
.my_courses-container .tab-content #finishedmy .flash_empty h1 {
    direction: rtl;
    background-color: #0D528D;
    color: #fff;
    padding: 50px;
    border-radius: 4px;
    font-family: 'neo-bold';
    font-size: 15px;
}

.my_courses-container .tab-content #comming .flash_empty h1 i,
.my_courses-container .tab-content #commingmy .flash_empty h1 i,
.my_courses-container .tab-content #finishedmy .flash_empty h1 i {
    font-size: 30px;
    position: relative;
    top: 7px;
    margin-left: 10px;
}

.my_courses-container .tab-content .card .card-inner .card-data .corse-action {
    border-top: 1px solid #dfdfdf;
    padding: 15px 0;
    text-align: center;
    direction: rtl;
}

.my_courses-container .tab-content .card .card-inner .card-data .corse-action a.gonna-corse {
    display: inline-block;
    background: #1F68D6;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    text-align: right;
    direction: rtl;
    margin-left: 10px;
    transition: all .4s;
}

.my_courses-container .tab-content .card .card-inner .card-data .corse-action a.gonna-corse:hover {
    background: #0f4faf;
    transition: all .4s;
}

.my_courses-container .tab-content .card .card-inner .card-data .corse-action a.out-corse {
    display: inline-block;
    background: #D61F30;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    text-align: right;
    direction: rtl;
    transition: all .4s;
}

.my_courses-container .tab-content .card .card-inner .card-data .corse-action a.out-corse:hover {
    background: #bf0c1c;
    transition: all .4s;
}

.my_courses-container .tab-content .card .card-inner .card-data .corse-action a.gonna-corse i,
.my_courses-container .tab-content .card .card-inner .card-data .corse-action a.out-corse i {
    margin-left: 5px;
}


/*================================
            Add Course
/*================================*/

.up_form-item h1 {
    text-align: right;
    padding: 15px 5px;
    font-size: 14px;
    font-family: 'neo-bold';
}

.add-form .up_form-item {
    background: #f1f1f1;
}

.up-form .up_form-item .add_cont label input {
    margin-top: -10px;
}

.up-form .up_form-item .add_cont label span {
    font-size: 12px;
}

.add_cont .videoUploaded,
.lecture-item .videoUploaded {
    position: relative;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    background: #142638;
    padding: 10px;
    border-radius: 3px;
    padding-right: 10px;
    margin-bottom: 15px;
    display: none;
}

.add_cont .videoUploaded input.uploaded {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 120%;
    height: 100%;
    cursor: pointer;
}

.lecture-item .videoUploaded {
    margin-top: 15px;
}

.add_cont .videoUploaded span,
.lecture-item .videoUploaded span {
    font-size: 14px;
}

.add_cont .videoUploaded span i,
.lecture-item .videoUploaded span i {
    margin-right: 10px;
}

.up_form-item textarea {
    width: 100%;
    border: 1px solid rgb(223, 223, 223);
    text-align: right;
    direction: rtl;
    font-size: 13px;
    color: #8d8d8d;
    padding: 10px;
    height: 110px;
    outline: 0px;
    resize: vertical;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    margin-top: 0px;
    margin-bottom: 0px;
}

.up_form-item textarea:focus {
    border: 1px solid #0D8D47;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.up_form-item a.add-cert {
    color: #fff;
    font-size: 13px;
    background: #0D8D47;
    padding: 10px;
    display: inline-block;
    margin: 15px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.up_form-item a.add-cert:hover {
    background-color: #19a759;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.up_form-item .show-privacy {
    color: #1C60F9;
    font-weight: normal;
    font-size: 13px;
    display: block;
    margin: 10px 5px 0 0;
}

.up_form-item .show-privacy:hover {
    text-decoration: underline;
}

.privacy-box {
    padding: 20px;
}

.privacy-box p {
    line-height: 31px;
    font-size: 15px;
    padding-bottom: 25px;
}

.policy {
    padding: 10px 0;
}

.policy label {
    font-size: 15px;
    font-weight: normal;
    font-family: 'neo-bold';
    position: relative;
    top: -2px;
    direction: rtl;
    cursor: pointer;
}

.privacy-box div {
    margin-top: 25px;
}

.privacy-box div a {
    display: inline-block;
    color: #fff;
    background-color: #0D8F48;
    font-family: 'neo-bold';
    font-size: 14px;
    padding: 13px;
    border-radius: 3px;
    width: 100%;
}

.course-cert {
    display: none;
}

#error-form {
    display: block;
    text-align: right;
    padding: 10px 0;
    font-family: 'neo-bold';
    font-size: 12px;
    color: red;
}


/*=======================================
    Intro Page
/*=========================================*/

.intro-head {
    background-image: url(../images/sliderbj.png);
    background-attachment: fixed;
    background-size: 13%;
    background-color: #0D8D47;
    padding: 30px 0;
}

.intro-head h1 {
    color: #fff;
    font-family: 'neo-bold';
    font-size: 20px;
}

.intro-box {
    padding: 70px 0;
    background-color: #f1f1f1;
}

.intro-box .intro-name {
    padding-bottom: 30px;
}

.intro-box .intro-name .name-head h1 {
    color: #333;
    font-family: 'neo-bold';
    font-size: 20px;
    display: inline-block;
    line-height: 27px;
    padding: 15px 0;
}

.intro-box .intro-name .extras {
    text-align: left;
}

.intro-box .intro-name .extras span {
    background-color: #2E71CC;
    padding: 13px 25px;
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    font-family: 'neo-bold';
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
    top: 3px;
    position: relative;
    transition: all .4s;
}

.intro-box .intro-name .extras .intro-rating {
    display: inline-block;
    margin-left: 20px;
    background: #083A1E;
    padding: 12px;
    border-radius: 5px;
    transition: all .4s;
}

.intro-box .intro-name .intro-rating ul li {
    display: inline-block;
}

.intro-box .intro-name .intro-rating ul li a {
    display: inline-block;
    color: #333;
    padding: 5px;
    color: #FFC91E;
}

.intro-box .intro-date {
    direction: rtl;
    padding: 25px 0 10px;
}

.intro-box .intro-date h1 {
    font-size: 14px;
    font-family: 'neo-bold';
    display: inline-block;
}

.intro-box .intro-date a {
    float: left;
    display: inline-block;
    background-color: #0d8d47;
    padding: 15px 30px;
    border-radius: 4px;
    font-family: 'neo-bold';
    margin-bottom: 15px;
    font-size: 14px;
    direction: rtl;
    transition: all .4s;
}

.intro-box .intro-date a i {
    margin-left: 10px;
}

.intro-box .intro-date a:hover {
    background-color: #2ecc71;
}

.intro-box .intro-date h1 i {
    margin-left: 10px;
    padding: 10px;
    background-color: #2ecc71;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
}

.intro-box .intro-details {
    float: right;
    width: 100%;
    padding-bottom: 50px;
    word-wrap: break-word;
}

.intro-box .intro-details p {
    color: #555;
    font-size: 14px;
    line-height: 30px;
}

.intro-box .intro-instructor {
    padding: 0 0 0 20px;
}

.intro-box .intro-instructor .intro_instructor-inner {
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
}

.intro-box .intro-instructor .intro_instructor-inner h1 {
    display: block;
    font-family: 'neo-bold';
    background-color: #4E4E4E;
    padding: 15px;
    color: #fff;
}

.intro-instructor .intro_instructor-inner .avatar .av-inner {
    display: inline-flex;
    padding: 4px;
    border-radius: 50%;
    border: 1px solid #ddd;
    float: right;
    margin: 15px 0 0 15px;
    text-align: center;
}

.intro-instructor .intro_instructor-inner .avatar .av-inner img {
    margin: auto;
    text-align: center;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.intro-instructor .intro_instructor-inner .instructor-data {
    word-wrap: break-word;
    position: relative;
    margin-top: 30px;
}

.intro-instructor .intro_instructor-inner .instructor-data a {
    color: #333;
    font-family: 'neo-bold';
    font-size: 18px;
    display: inline-block;
    padding-bottom: 10px;
    transition: all .4s;
}

.intro-instructor .intro_instructor-inner .instructor-data a:hover {
    color: #0D8D47;
    transition: all .4s;
}

.intro-instructor .intro_instructor-inner .instructor-data p {
    font-size: 15px;
    color: #797979;
    line-height: 30px;
}

.intro-box .intro-lec {
    padding: 0 0 0 20px;
}

.intro-box .intro-lec .intro_lec-inner {
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
}

.intro-box .intro-lec .intro_lec-inner h1 {
    display: block;
    font-family: 'neo-bold';
    background-color: #4E4E4E;
    padding: 15px;
    color: #fff;
}

.intro-box .intro-lec .intro_lec-inner ol li {
    padding: 15px 0;
    direction: rtl;
    font-size: 17px;
    color: #757575;
    line-height: 25px;
}

.intro-box .intro-lec .intro_lec-inner ol li i {
    margin-left: 7px;
    color: #969696;
    border: 1px solid #969696;
    border-radius: 50%;
    padding: 4px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
}

#instructor,
#payment {
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    text-align: right;
    direction: rtl;
    max-width: 700px;
    z-index: 99999;
}

#instructor h1,
#payment h1 {
    padding: 0 0 15px 0;
    border-bottom: 1px solid #077862;
    margin-bottom: 15px;
    font-size: 14px;
    font-family: 'neo-bold';
    color: #077862
}

#payment {
    max-width: 500px;
}

#payment .nav-tabs li {
    float: right;
    direction: rtl;
    position: relative;
    display: inline-block;
    top: 2px;
    margin: 0px;
}

#payment .nav-tabs li a {
    font-size: 13px;
    font-family: 'neo-bold';
    margin-right: 5px;
    border: 1px solid #DDDDDD;
    background-color: #f1f1f1;
    border-radius: 4px 4px 0 0;
    padding: 13px 15px;
    display: inline-block;
    color: #0D8D47;
    border-bottom: 0;
    position: relative;
    top: -2px;
}

#payment .nav-tabs li a i {
    margin-left: 10px;
}

#payment .nav-tabs li:first-child a {
    margin: 0;
}

#payment .nav-tabs > li.active > a,
#payment .nav-tabs > li.active > a:hover,
#payment .nav-tabs > li.active > a:focus {
    color: #FFF;
    cursor: default;
    background-color: #0D8D47;
    border: 0;
}

#payment .nav-tabs li.active {
    position: relative;
    top: 3px;
}

#payment .paypal-box {
    padding: 50px 0;
}

#payment .paypal-box a {
    display: inline-block;
    color: #fff;
    font-family: 'neo-bold';
    background-color: #337ab7;
    padding: 20px;
    border-radius: 3px;
    transition: all .4s;
}

#payment .paypal-box a:hover {
    background-color: #165b96;
    transition: all .4s;
}


/*===============================================
        Course Page
/*===============================================*/

.corse-box {
    padding: 0;
}

.corse-box .corse-nav {
    background-image: url(../images/arches.png);
    background-size: 5%;
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: #121212;
    padding: 20px 0px;
    direction: rtl;
}

.corse-box .corse-nav ul li {
    display: inline-block;
}

.corse-box .corse-nav ul li a {
    display: inline-block;
    background: #0D8D47;
    padding: 15px;
    margin-left: 5px;
    border-radius: 4px;
    transition: all .4s;
    position: relative;
    text-align: center;
}

.corse-box .corse-nav ul li a .padge {
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: #f2270c;
    color: #fff;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    font-size: 13px;
}

.corse-box .corse-nav ul li a.add-fav {
    background-color: #EA210C;
    transition: all .4s;
}

.corse-box .corse-nav ul li a.add-fav-dis {
    background-color: #fff;
    color: #EA210C;
    transition: all .4s;
}

.corse-box .corse-nav ul li a.active {
    background-color: #1C3B56;
}

.corse-box .corse-nav ul li a i {
    margin-left: 7px;
}

.corse-box .corse-nav ul li a.add-fav i,
.corse-box .corse-nav ul li a.add-fav-dis i {
    margin: 0;
    opacity: 1;
    transition: all .4s;
}

.corse-box .corse-nav ul li a.add-fav-dis i {
    transform: scale(1.4);
}

.corse-box .corse-nav ul li a:hover {
    background: #0cac55;
}

.corse-box .corse-nav ul li a.add-fav:hover {
    background: #c11907;
    transition: all .4s;
}

.corse-box .corse-nav ul li a.add-fav-dis:hover {
    background-color: #f1f1f1;
    transition: all .4s;
}

.corse-box .corse-nav ul li.rating {
    padding: 15px;
    background-color: #0D8D47;
    border-radius: 5px;
    direction: ltr;
}

.corse-box .corse-nav ul li.rating a {
    display: inline-block;
    background: transparent;
    padding: 0px;
    margin-left: 0;
    border-radius: 0;
    transition: all .4s;
    position: relative;
    text-align: center;
    margin: 0;
}

.corse-box .corse-nav ul li.rating a i {
    margin: 0;
}

.corse-box .corse-nav ul li.rating a i.active {
    color: #FFC91E;
}

.corse-box .lesson-box {
    padding: 30px 0;
    direction: rtl;
    min-height: 320px;
}

.certf {
    background: #12C71F;
    padding: 30px;
    direction: rtl;
    margin-bottom: 30px;
    border-radius: 5px;
}

.certf h1 {
    padding: 10px 0 25px 0;
    color: #fff;
    font-family: 'neo-bold';
}

.certf a {
    background-color: #1C3B56;
    padding: 15px;
    display: block;
    transition: all .4s;
}

.certf a:hover {
    background-color: #0c273e;
    transition: all .4s;
}

.certf a i {
    margin-left: 7px;
}

.corse-box .lesson-box .week-module {
    margin-bottom: 15px;
}

.corse-box .lesson-box .week-module h1 {
    padding: 15px;
    background-color: #000;
    display: inline-block;
    color: #fff;
}

.corse-box .lesson-box ul li {
    display: block;
    float: right;
    width: 100%;
    padding: 15px;
    background-color: #E4E4E4;
    border-radius: 5px;
    position: relative;
    margin-bottom: 10px;
}

.corse-box .lesson-box ul li a.lesson-det {
    color: #333;
    display: inline-block;
    line-height: 36px;
    font-size: 18px;
    font-family: 'neo-bold';
}

.corse-box .lesson-box ul li a.lesson-det i {
    margin-left: 5px;
    font-size: 25px;
    position: relative;
    top: 3px;
    color: #868686;
}

.corse-box .lesson-box ul li h3 {
    display: inline-block;
    padding: 10px;
    background-color: #CCC;
    border-radius: 5px;
    float: left;
    margin-left: 30px;
}

.corse-box .lesson-box ul li a.del-lesson {
    float: left;
    display: inline-block;
    background: #E01E1E;
    padding: 10px;
    border-radius: 3px;
    color: #fff;
    position: absolute;
    left: 5px;
}

.corse-box .lesson-box ul li a.del-lesson i {
    margin-left: 3px;
}

.corse-box .lesson-box ul li a.del-lesson:hover {
    background: #c91f1f;
}

.empty-msg {
    padding: 50px 0;
}

.empty-msg h1 {
    background-color: #1C3B56;
    padding: 80px 30px;
    color: #fff;
    font-size: 18px;
    font-family: 'neo-bold';
    border-radius: 5px;
    line-height: 29px;
}

.empty-msg h1 i {
    margin-left: 10px;
}

.take-exam {
    padding: 15px;
    direction: rtl;
}

.take-exam a {
    display: inline-block;
    background-color: #0d8d47;
    padding: 15px 30px;
    font-family: 'neo-bold';
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 4px;
    transition: all .4s;
}

.take-exam a:hover {
    background-color: #12b45b;
    transition: all .4s;
}

.take-exam a i {
    margin-left: 7px;
}

.alert-box .all-alerts ul li h1 {
    font-family: 'neo-bold';
    padding-bottom: 25px;
    display: inline-block;
}

.alert-box .all-alerts ul li span {
    float: left;
    color: #fff;
    font-size: 13px;
    background-color: #0D8D47;
    padding: 10px;
}

.alert-box .all-alerts ul li p {
    font-size: 15px;
    line-height: 30px;
    overflow: hidden;
}

.corse-box .corse-nav ul li a.add-alert-form {
    background-color: #E2135F;
}

.corse-box .corse-nav ul li a.add-alert-form i {
    transform: rotateY(180deg);
}

.corse-box .corse-nav ul li a.add-alert-form:hover {
    background-color: #ba1551;
}

.corse-box .corse-nav ul li a.sent-all {
    background-color: #177DC5;
}

.corse-box .corse-nav ul li a.sent-all:hover {
    background-color: #0a6baf;
}


/*=======================================
    Individual Course Page
/*=========================================*/

.corse-indv {
    padding: 50px 0;
}

.corse-indv .corse_indv-video,
.corse-indv .corse-episodes {
    padding: 0 15px;
}

.corse-indv .corse-episodes .corse_episodes-inner {
    background-color: #f1f1f1;
    padding: 15px 10px;
    border-radius: 5px;
    min-height: 420px;
    overflow-y: auto;
    height: 420px;
}

.corse-indv .corse-episodes .corse_episodes-inner ul li {
    display: block;
    border-bottom: 1px solid #fff;
}

.corse-indv .corse-episodes .corse_episodes-inner ul li:last-child {
    border-bottom: 0;
}

.corse-indv .corse-episodes .corse_episodes-inner ul li a {
    display: block;
    padding: 15px;
    color: #333;
    direction: rtl;
    transition: all .4s;
}

.corse-indv .corse-episodes .corse_episodes-inner ul li h1 {
    background-color: #000;
    padding: 15px;
    text-align: center;
    font-family: 'neo-bold';
    margin-bottom: 5px;
    color: #fff;
    direction: rtl;
}

.corse-indv .corse-episodes .corse_episodes-inner ul li h1 i {
    margin-left: 5px;
}

.corse-indv .corse-episodes .corse_episodes-inner ul li a i {
    margin-left: 5px;
}

.corse-indv .corse-episodes .corse_episodes-inner ul li a.active {
    background-color: #0D8D47;
    color: #fff;
}

.corse-indv .corse-episodes .corse_episodes-inner ul li a:hover {
    background-color: #4c4c4c;
    color: #fff;
    transition: all .4s;
}

.corse-indv .mob-episodes {
    background-color: #f1f1f1;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 30px;
    direction: rtl;
    display: none;
}

.finish-corse {
    padding: 20px 0;
}

.finish-corse h1 {
    background-color: #f1f1f1;
    padding: 15px;
    margin: 20px 0 10px;
    font-size: 17px;
    font-family: 'neo-bold';
}

.finish-corse p {
    text-align: right;
    line-height: 30px;
    font-size: 15px;
    color: #595959;
}

.finish-corse a {
    color: #fff;
    background-color: #3498DB;
    padding: 15px 30px;
    display: inline-block;
    direction: rtl;
    font-family: 'neo-bold';
    font-size: 15px;
    border-radius: 3px;
}

.corse-indv .mob-episodes ul li {
    display: inline-block;
    border-right: 1px solid #c4c4c4;
}

.corse-indv .mob-episodes ul li h1 {
    background-color: #000;
    text-align: center;
    font-family: 'neo-bold';
    color: #fff;
    direction: rtl;
    display: inline-block;
    padding: 15px;
    font-size: 14px;
}

.corse-indv .mob-episodes ul li h1 i {
    margin-left: 5px;
}

.corse-indv .mob-episodes ul li a {
    display: inline-block;
    color: #333;
    direction: rtl;
    padding: 15px;
    font-size: 14px;
    transition: all .4s;
}

.corse-indv .mob-episodes ul li a.active {
    background-color: #0D8D47;
    color: #fff;
}

.corse-indv .mob-episodes ul li a:hover {
    background-color: #4c4c4c;
    color: #fff;
    transition: all .4s;
}

.corse-indv .corse-comments {
    margin: 15px 0;
    padding: 15px;
    border-top: 1px solid #ddd;
}

.corse-indv .corse-comments .empty-msg {
    padding: 0;
    direction: rtl;
}


/*=======================================
    Test Page
/*=========================================*/

.tabbable {
    direction: rtl;
}

.tabbable .nav-tabs {
    margin-bottom: 10px;
    text-align: center;
}

.tabbable .nav-tabs > li {
    float: none;
    display: inline-block;
    margin: 0;
}

.tabbable .nav-tabs > li >a {
    color: #333;
    font-size: 13px;
    background-color: #f1f1f1;
    margin: 4px 1px;
    border-radius: 0;
    display: inline-block;
    line-height: 1;
    padding: 10px;
    border: 0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #0D8D47;
    color: #fff;
    border: 0;
}

.progress {
    height: 10px;
}

.progress-bar {
    background-color: #0D8D47;
    float: right;
}

.tabbable .pager li > a,
.tabbable .pager li > span {
    display: inline-block;
    padding: 10px;
    background-color: #2ECC71;
    border: 0;
    border-radius: 0;
    transition: all .4s;
}

.tabbable .pager li > a:hover,
.tabbable .pager li > span:hover {
    background-color: #0D8D47;
    transition: all .4s;
}

.tabbable .pager .disabled > a,
.tabbable .pager .disabled > a:hover,
.tabbable .pager .disabled > a:focus,
.tabbable .pager .disabled > span {
    color: #fff;
    background-color: #bfbfbf;
}

.tab-pane .quest .quest-head {
    padding-bottom: 30px;
}

.tab-pane .quest .quest-head h1 {
    font-family: 'neo-bold';
    font-size: 15px;
}

.tab-pane .quest .quest-answers .answer {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f1f1f1;
}

.tab-pane .quest .quest-answers .answer label {
    font-weight: normal;
    display: inline-block;
    cursor: pointer;
}

.tab-pane .quest .quest-answers .answer label span {
    vertical-align: text-top;
}


/*=======================================
    certification Page
/*=========================================*/

.certf-container {
    max-width: 800px;
    padding: 70px 30px;
}

.certf-container .certficat-box {
    border: 10px solid transparent;
    padding: 50px;
    -webkit-border-image: url(../images/border-f.png) 30 stretch;
}

.certf-container .certficat-box h1 {
    font-family: 'neo-bold';
    padding-bottom: 30px;
    font-size: 30px;
}

.certf-container .certficat-box span {
    display: block;
    padding-bottom: 25px;
    font-size: 15px;
}

.certf-container .certficat-box h2 {
    font-family: 'neo-bold';
    padding-bottom: 15px;
    font-size: 25px;
    border-bottom: 1px solid #333;
    margin-bottom: 30px;
}

.certf-container .certficat-box h4 {
    font-size: 16px;
    padding-bottom: 25px;
}

.certf-container .certficat-box p {
    font-family: 'neo-bold';
    font-size: 25px;
    margin-bottom: 30px;
}

.certf-container .certficat-box .cer-date {
    padding-bottom: 10px;
    font-size: 20px;
    font-family: 'neo-bold';
}

.certf-container .certficat-box .date {
    font-size: 16px;
    border-bottom: 1px solid #333;
    display: inline-block;
    padding: 10px 25px;
}

.certf-container .certficat-box .admin-log,
.certf-container .certficat-box .admin-log1 {
    display: inline-block;
    width: 50%;
}

.certf-container .certficat-box .admin-log {
    float: left;
}


/*=======================================
    About-Us Page
/*=========================================*/

.about-box {
    padding: 50px 0;
    min-height: 410px;
}

.about-box .about-data {
    padding-left: 50px;
}

.about-box .about-data p {
    line-height: 30px;
    font-size: 14px;
}


/*=======================================
    Contact-Us Page
/*=========================================*/

.contact-box {
    padding: 50px 0;
}

.contact-form,
.FAQ {
    padding: 0 20px;
}

.contact-form .inner,
.FAQ .inner {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.FAQ .inner {
    height: 345px;
    overflow-y: auto;
    min-height: 40px;
}

.contact-form h1,
.FAQ h1 {
    display: block;
    padding: 15px;
    background-color: #f1f1f1;
    margin-bottom: 20px;
    font-family: 'neo-bold';
}

.contact-form .contact-item {
    margin-bottom: 10px;
    position: relative;
}

.contact-form .contact-item i {
    position: absolute;
    right: 1px;
    top: 1px;
    color: #777;
    font-size: 14px;
    padding: 12px;
    border-left: 1px solid #ddd;
    background: #f1f1f1;
}

.contact-form .contact-item input[type="text"],
.contact-form .contact-item input[type="email"] {
    height: 40px;
    text-align: right;
    direction: rtl;
    text-indent: 45px;
    font-size: 13px;
    border: 1px solid #ddd;
    outline: 0;
    width: 100%;
}

.contact-form .contact-item textarea {
    height: 100px;
    text-align: right;
    direction: rtl;
    padding: 10px 45px;
    font-size: 13px;
    border: 1px solid #ddd;
    outline: 0;
    width: 100%;
    resize: vertical;
}

.contact-form .contact-item input[type="submit"] {
    background-color: #0D8D47;
    padding: 10px 30px;
    font-family: 'neo-bold';
    color: #fff;
    border: 0;
    font-size: 14px;
    outline: 0;
    transition: all .4s;
}

.contact-form .contact-item input[type="submit"]:hover {
    background-color: #2ecc71;
    transition: all .4s;
}

.FAQ .faq-item .panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
    font-size: 13px;
    color: #333;
}

.FAQ .faq-item p {
    font-size: 13px;
}

.FAQ .faq-item .empty-msg {
    padding: 0;
    direction: rtl;
}

.FAQ .faq-item .empty-msg h1 {
    background-color: #0D8D47;
    font-size: 13px;
}